<p>Public::Posts#index</p>
<table>
  <thead>
    <th>ユーザ名</th>
    <th>タイトル</th>
    <th>都道府県</th>
    <th>月</th>
    <th>本文</th>
  </thead>
  <% @posts.each do |posts| %>
    <tr>
      <td>
        <%= link_to user_path(posts.user_id) do %>
          <%= posts.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to post_path(posts.id) do %>
          <%= posts.title %>
        <% end %>
      </td>
      <td><%= posts.prefecture %></td>
      <td><%= posts.month %></td>
      <td><%= posts.body %></td>
    </tr>
  <% end %>
</table>