<p>Public::Posts#new</p>
<%= form_with model: @post, url: posts_path do |f| %>
  <p>地図座標</p>
  <p>未実装</p>

  <p>タイトル</p>
  <%= f.text_field :title, autofocus: true %>
  
  <p>カテゴリ(大分類)</p>
  <!-- MainClassモデルからデータを呼び出しセレクトボックスに表示 -->
  (仮実装)<%= f.text_field :main_class_id %>

  <p>カテゴリ(小分類)</p>
  <!-- SubClassモデルからデータを呼び出しセレクトボックスに表示 -->
  <!-- 大分類の選択に応じて内容が変わるようにすること -->
  (仮実装)<%= f.text_field :sub_class_id %>

  <p>都道府県</p>
  <%= f.select :area, Post.areas.keys, {selected: '東京都'}  %>

  <p>時期</p>
  <%= f.select :month, Post.months.keys, {} %>
  
  <p>本文</p>
  <%= f.text_area :body %>

  <p>公開・非公開</p>
  <%= f.radio_button(:is_public, true, checked: true) %>
  <%= f.label(:publicity, '公開', value: true) %>
  <%= f.radio_button(:is_public, false) %>
  <%= f.label(:publicity, '非公開', value: false) %>

  <p></p>
  <%= f.submit '投稿' %>
<% end %>

<!-- 入力不要だが保存が必要なもの。一部はダミーを入れること user_id, main_class_id, sub_class_id -->