<h2>新規投稿</h2>

<% if @post.errors.any? %>
  <p><%= @post.errors.count %>件のエラーが発生しました。</p>
  <ul>
    <% @post.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<h3>地図テスト</h3>


<%= form_with model: @post, url: posts_path do |f| %>
  <p>地図座標</p>
  <p>未実装</p>

  <p>写真</p>
  <p>
    <%= f.file_field :post_images, accept: "image/*",  multiple: true %>
  </p>

  <p>タイトル(100文字まで)</p>
  <%= f.text_field :title, autofocus: true %>
  
  <p>カテゴリ(大分類)</p>
  <!-- MainClassモデルからデータを呼び出しセレクトボックスに表示 -->
  <p>未実装</p>

  <p>カテゴリ(小分類)</p>
  <!-- SubClassモデルからデータを呼び出しセレクトボックスに表示 -->
  <!-- 大分類の選択に応じて内容が変わるようにすること -->
  <!-- 小分類が存在しないときはnilではなく0が入るようにすること -->
  <p>未実装</p>

  <p>都道府県</p>
  <%= f.select :prefecture, Post.prefectures.keys, {selected: '東京都'}  %>

  <p>月</p>
  <%= f.select :month, Post.months.keys, {} %>
  
  <p>本文(1000文字まで)</p>
  <%= f.text_area :body %>

  <p>公開・非公開</p>
  <%= f.radio_button(:is_public, true, checked: true) %>
  <%= f.label(:is_public, '公開', value: true) %>
  <%= f.radio_button(:is_public, false) %>
  <%= f.label(:is_public, '非公開', value: false) %>

  <p></p>
  <%= f.submit '投稿' %>
<% end %>
