<h2>新規投稿</h2>

<% if @post.errors.any? %>
  <p><%= @post.errors.count %>件のエラーが発生しました。</p>
  <ul>
    <% @post.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<h4>スポット選択</h4>
<div id="map" style="width: 750px; height: 750px;"></div>

<%= form_with model: @post, url: posts_path do |f| %>
  <!-- 地図座標 -->
  <%= f.hidden_field :latitude,  id: "lat" %>
  <%= f.hidden_field :longitude, id: "lng" %>

  <p>写真</p>
  <p>
    <%= f.file_field :post_images, accept: "image/*",  multiple: true %>
  </p>

  <p>タイトル(100文字まで)</p>
  <%= f.text_field :title, autofocus: true %>
  
  <p>カテゴリ</p>
  <!-- Categoryモデルからデータを呼び出しセレクトボックスに表示 -->
  <p>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </p>

  <p>都道府県</p>
  ※ 自動入力されますが、誤っている場合は訂正できます。海上や日本以外の場所を選択すると表示されません。<br />
  <%= f.select :prefecture, Post.prefectures.keys, {selected: current_user.prefecture}, id: "post_prefecture"  %>

  <p>月</p>
  <%= f.select :month, Post.months.keys, {} %>
  
  <p>本文(1000文字まで)</p>
  <%= f.text_area :body %>

  <p>公開・非公開</p>
  <%= f.radio_button(:is_public, true, checked: true) %>
  <%= f.label(:is_public, '公開', value: true) %>
  <%= f.radio_button(:is_public, false) %>
  <%= f.label(:is_public, '非公開', value: false) %>

  <p></p>
  <%= f.submit '投稿' %>
<% end %>

<!-- 初期位置の設定とJS呼び出し -->
<input type="hidden" id="initlat" value="<%= current_user.default_map_position(current_user.prefecture)[:lat] %>">
<input type="hidden" id="initlng" value="<%= current_user.default_map_position(current_user.prefecture)[:lng] %>">
<input type="hidden" id="hasLatLngAlready" value="<%= @has_latlng_already %>">
<%= javascript_pack_tag 'map_posts_new', 'data-turbolinks-track': 'reload' %>
