<h2>投稿詳細</h2>

<!-- Controllerで投稿ユーザ本人であるかと公開ステータスを確認 -->
<% if @show_post == nil %>
  <p>この投稿は非公開です。</p>
<% else %>
  <div>
    <p>地図予定地</p>
  </div>
  <div>
    <p>
      タイトル<br />
      <%= @show_post.title %>
    </p>
    <p>
      カテゴリ(大分類)<br />
      (仮実装)<%= @show_post.main_class_id %>
    </p>
    <p>
      カテゴリ(大分類)<br />
      (仮実装)<%= @show_post.sub_class_id %>
    </p>
    <p>
      都道府県<br />
      <%= @show_post.prefecture %>
    </p>
    <p>
      月<br />
      <%= @show_post.month %>
    </p>
    <p>
      本文<br />
      <%= @show_post.body %>
    </p>
    <p>
      投稿ユーザー<br />
      <%= link_to user_path(@show_post.user_id) do %>
        <%= @show_post.user.name %>
      <% end %>
    </p>
  </div>

  <!-- 以下は投稿ユーザ本人のみ表示 -->
  <% if @show_post.user_id == current_user.id %>
    <p>
      公開・非公開<br />
      <% if @show_post.is_forbidden == true %>
        <span style="color: red">管理者による非公開</span>
      <% elsif @show_post.is_public == false %>
        非公開
      <% else %>
        公開
      <% end %>
    </p>
    <p>
      <%= link_to '編集', edit_post_path %>
    </p>
    <p>
      <%= link_to '削除', post_path, method: :delete,  "data-confirm" => "本当に削除しますか？"  %>
    </p>
  <% end %>
<% end %>
