<h2>エンドユーザー投稿一覧</h2>

<!-- viewはpublic/posts/indexと投稿へのリンク以外完全に同じ。ステータスなどを追加すること -->
<!-- またpublicとはinstance variableの内容が異なっている -->
<table>
  <thead>
    <th>画像</th>
    <th>タイトル</th>
    <th>都道府県</th>
    <th>月</th>
    <th>本文</th>
    <th>コメント件数</th>
    <th>ユーザー</th>
    <th>更新日</th>
  </thead>
  <% @posts.each do |posts| %>
    <tr>
      <td><!-- 画像 予定地 --></td>
      <td>
        <%= link_to admin_post_path(posts.id) do %>
          <%= posts.title %>
        <% end %>
      </td>
      <td><%= posts.prefecture %></td>
      <td><%= posts.month %></td>
      <td><%= posts.body %></td>
      <td><%= posts.post_comments.count %> 件</td>
      <td>
        <%= link_to user_path(posts.user_id) do %>
          <%= image_tag posts.user.get_profile_image(50, 50) %>
          <%= posts.user.name %>
        <% end %>
      </td>
      <td><%= posts.updated_at.strftime('%Y/%m/%d') %></td>
    </tr>
  <% end %>
</table>