<h2>新規会員登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    ※ 1つのメールアドレスで作成できるアカウントは1つのみです。<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    （<%= @minimum_password_length %>文字以上）
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :名前（２～２０文字） %><br />
    ※ 既存ユーザーの名前と同じ名前は登録できません。<br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :都道府県 %><br />
    <%= f.select :prefecture, User.prefectures.keys, {selected: '東京都'} %>
  </div>

  <div class="field">
    <%= f.label :都道府県の公開 %><br />
    <%= f.radio_button(:hide_prefecture, 'true', checked: true) %>
    <%= f.label(:hide_prefecture, '非公開', value: 'true') %>
    <%= f.radio_button(:hide_prefecture, 'false') %>
    <%= f.label(:hide_prefecture, '公開', value: 'false') %>
  </div>

  <div class="field">
    <%= f.label :誕生年 %><br />
    <%= f.select :birth_year, (1900..2100).to_a, selected: '2000' %>
  </div>

  <div class="field">
    <%= f.label :誕生年の公開 %><br />
    <%= f.radio_button(:hide_birth_year, 'true', checked: true) %>
    <%= f.label(:hide_birth_year, '非公開', value: 'true') %>
    <%= f.radio_button(:hide_birth_year, 'false') %>
    <%= f.label(:hide_birth_year, '公開', value: 'false') %>
  </div>

  <div class="field">
    <%= f.label :自己紹介（２００文字以下） %><br />
    <%= f.text_area :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "会員登録" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
