<h2>エンドユーザープロフィール</h2>

<table>
  <tr>
    <td>画像</td>
    <td><%= image_tag @user.get_profile_image(150, 150) %></td>
  </tr>
  <tr>
    <td>ユーザー名</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>都道府県</td>
    <td><%= @user.prefecture %></td>
  </tr>
  <tr>
    <td>誕生年</td>
    <td><%= @user.birth_year %></td>
  </tr>
  <tr>
    <td>自己紹介</td>
    <td><%= @user.introduction %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td>
      <% if @user.is_forbidden == true %>
        除名済み
      <% elsif @user.is_active == false %>
        退会済み
      <% else %>
        有効
      <% end %>
    </td>
  </tr>
  <tr>
    <td>登録日</td>
    <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <td>プロフィール更新日</td>
    <td><%= @user.updated_at.strftime('%Y/%m/%d') %></td>
  </tr>
</table>

<h4>管理メニュー</h4>
<table>
  <tr>
    <td>
      <%= link_to 'プロフィールを編集する', edit_admin_user_path(@user) %>
    </td>
    <td>不適切な画像・テキストなどがある場合に使用</td>
  </tr>
  <tr>
    <% if @user.is_active == true %>
      <td><%= link_to '退会させる', admin_users_toggle_activity_path(@user), method: :patch, "data-confirm" => '本当に退会させますか？' %></td>
      <td>退会操作を自分でできないユーザーを退会させるときに使用<br />迷惑ユーザーの除名とは異なります</td>
    <% elsif @user.is_forbidden == false %>
      <td><%= link_to '退会を取り消す', admin_users_toggle_activity_path(@user), method: :patch, "data-confirm" => '本当に退会を取り消しますか？' %></td>
      <td>誤って退会したユーザーを復帰させるときに使用<br />除名したユーザーは復帰させられません</td>
    <% else %>
      <td>退会の取り消し不可</td>
      <td>除名したユーザーは復帰させられません</td>
    <% end %>
  </tr>
  <tr>
    <% if @user.is_forbidden == false %>
      <td><%= link_to '除名する', admin_users_banish_path(@user), method: :patch, "data-confirm" => '※※全投稿・コメントが削除されます！！※※本当に除名しますか？' %></td>
    <% else %>
      <td>除名済み</td>
    <% end %>
    <td>迷惑ユーザーを除名する場合に使用<br /><span style="color: red">除名すると投稿・コメントが全て削除されます。慎重に行ってください</span></td>
  </tr>
  <tr>
    <% if @user.is_forbidden == false %>
      <td>全投稿を管理者非公開にする</td>
      <td>全ての投稿を管理者非公開にします。コメントは対象外です</td>
    <% else %>
      <td>全投稿を管理者非公開にする</td>
      <td>除名済みユーザーのため投稿データがありません</td>
    <% end %>
  </tr>
  <tr>
    <% if @user.is_forbidden == false %>
      <td>全投稿・コメントを削除する</td>
      <td>全ての投稿・コメントを削除します<br />退会を代行した際に削除を希望された場合に使用。除名の際は操作不要です</td>
    <% else %>
      <td>全投稿・コメントを削除する</td>
      <td>除名済みユーザーのため投稿データがありません</td>
    <% end %>
  </tr>
</table>

<h4><%= @user.name %>の投稿一覧</h4>

<h4><%= @user.name %>のコメント一覧</h4>
