<nav class="navbar">
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <% if current_user.guest_user? == false %>
        <li class="nav-link active">
          <%= link_to timeline_path, class:"d-flex align-items-center" do %>
            <i class="fa-solid fa-timeline"></i><span class="ml-2 d-none d-md-block">タイムライン</span>
          <% end %>
        </li>
        <li class="nav-link active">
          <%= link_to mypage_path, class:"d-flex align-items-center" do %>
            <i class="fa-solid fa-circle-user"></i><span class="ml-2 d-none d-md-block">マイページ</span>
          <% end %>
        </li>
        <li class="nav-link active">
          <%= link_to user_likes_path(current_user.id), class:"d-flex align-items-center" do %>
            <i class="fa-solid fa-heart"></i><span class="ml-2 d-none d-md-block">いいね一覧</span>
          <% end %>
        </li>
        <li class="nav-link active">
          <%= link_to new_post_path, class:"d-flex align-items-center" do %>
            <i class="fa-solid fa-pen-fancy"></i><span class="ml-2 d-none d-md-block">新規投稿</span>
          <% end %>
        </li>
      <% end %>
      <li class="nav-link active">
        <%= link_to posts_path, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-newspaper"></i><span class="ml-2 d-none d-md-block">投稿一覧</span>
        <% end %>
      </li>
      <li class="nav-link active">
        <%= link_to map_path, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-map-location-dot"></i><span class="ml-2 d-none d-md-block">地図</span>
        <% end %>
      </li>
      <li class="nav-link active">
        <%= link_to users_path, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-users"></i><span class="ml-2 d-none d-md-block">ユーザーー覧</span>
        <% end %>
      </li>
      <li class="nav-link active">
        <%= link_to destroy_user_session_path, method: :delete, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="ml-2 d-none d-md-block">ログアウト</span>
        <% end %>
      </li>
    <% else %>
      <li class="nav-link active">
        <%= link_to about_path, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-circle-info"></i><span class="ml-2 d-none d-md-block">サイト紹介</span>
        <% end %>
      </li>
      <li class="nav-link active">
        <%= link_to users_guest_sign_in_path, method: :post, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-clover"></i><span class="ml-2 d-none d-md-block">ゲストログイン</span>
        <% end %>
      </li>
      <li class="nav-link active">
        <%= link_to new_user_registration_path, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-user-plus"></i><span class="ml-2 d-none d-md-block">アカウント作成</span>
        <% end %>
      </li>
      <li class="nav-link active">
        <%= link_to new_user_session_path, class:"d-flex align-items-center" do %>
          <i class="fa-solid fa-arrow-right-to-bracket"></i><span class="ml-2 d-none d-md-block">ログイン</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>