<h2>マイページ</h2>

<div>
  <h4>プロフィール</h4>
  <table>
    <tr>
      <td>プロフィール画像</td>
      <td><%= image_tag @profile.get_profile_image(150, 150) %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @profile.email %></td>
    </tr>
    <tr>
      <td>名前</td>
      <td><%= @profile.name %></td>
    </tr>
    <tr>
      <td>都道府県</td>
      <td><%= @profile.prefecture %></td>
    </tr>
    <tr>
      <td>都道府県の公開ステータス</td>
      <td>
        <% if @profile.hide_prefecture == true %>
          非公開
        <% else %>
          公開
        <% end %>
      </td>
    </tr>
    <tr>
      <td>誕生年</td>
      <td><%= @profile.birth_year %></td>
    </tr>
    <tr>
      <td>誕生年の公開ステータス</td>
      <td>
        <% if @profile.hide_birth_year == true %>
          非公開
        <% else %>
          公開
        <% end %>
      </td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= @profile.introduction %></td>
    </tr>
  </table>
  <%= link_to 'プロフィール編集', edit_user_path(@profile.id) %><br />
</div>

<div>
  <h4>投稿一覧</h4>
  <table>
    <thead>
      <th>画像</th>
      <th>タイトル</th>
      <th>都道府県</th>
      <th>月</th>
      <th>本文</th>
      <th>コメント件数</th>
      <th>更新日</th>
      <th>公開ステータス</th>
      <th></th> <!-- 公開ステータスとくっつけても良い -->
      <th></th> <!-- 公開ステータスとくっつけても良い -->
    </thead>
    <% @posts.each do |posts| %>
      <tr>
        <td><!-- 画像 予定地 --></td>
        <td>
          <%= link_to post_path(posts.id) do %>
            <%= posts.title %>
          <% end %>
        </td>
        <td><%= posts.prefecture %></td>
        <td><%= posts.month %></td>
        <td><%= posts.body %></td>
        <td><%= posts.post_comments.count %> 件</td>
        <td><%= posts.updated_at.strftime('%Y/%m/%d') %></td>
        <td>
          <% if posts.is_forbidden == true %>
            <span style="color: red">管理者による非公開</span>
          <% elsif posts.is_public == false %>
            非公開
          <% else %>
            公開
          <% end %>
        </td>
        <td><%= link_to '編集', edit_post_path(posts.id) %></td>
        <td><%= link_to '削除', post_path(posts.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
    <% end %>
</table>
</div>