<h2>ユーザープロフィール</h2>

<div>
  <h4>ユーザーネーム</h4>
  <p><%= @user.name %></p>
  <p style="color: red">
    <% if @user.is_active == false %>
      退会済みユーザー
    <% end %>
  </p>
</div>
<div>
  <h4>都道府県</h4>
  <p>
    <% if @user.hide_prefecture == false %>
      <%= @user.prefecture %>
    <% else %>
      非公開
    <% end %>
  </p>
</div>
<div>
  <h4>誕生年</h4>
  <p>
    <% if @user.hide_birth_year == false %>
      <%= @user.birth_year %>
    <% else %>
      非公開
    <% end %>
  </p>
</div>
<div>
  <h4>自己紹介</h4>
  <p><%= @user.introduction %></p>
</div>

<% if @user.id == current_user.id %>
  <%= link_to '編集', edit_user_path(@user.id) %>
<% end %>

<h4><%= @user.name %>の公開投稿</h4>
<table>
  <thead>
    <th>画像</th>
    <th>タイトル</th>
    <th>都道府県</th>
    <th>月</th>
    <th>本文</th>
    <th>コメント件数</th>
    <th>更新日</th>
  </thead>
  <% @posts.each do |posts| %>
    <tr>
      <td><!-- 画像 予定地 --></td>
      <td>
        <%= link_to post_path(posts.id) do %>
          <%= posts.title %>
        <% end %>
      </td>
      <td><%= posts.prefecture %></td>
      <td><%= posts.month %></td>
      <td><%= posts.body %></td>
      <td><%= posts.post_comments.count %> 件</td>
      <td><%= posts.updated_at.strftime('%Y/%m/%d') %></td>
    </tr>
  <% end %>
</table>