<!DOCTYPE html>
<html>
  <head>
    <title>お散歩BIRDER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/16d350bfe1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーは画面最上部に常時表示する -->
    <header style="background-color: springgreen">
      <% if admin_signed_in? %>
        <%= link_to admin_root_path  do %>
          <i class="fa-solid fa-dove"></i>お散歩BIRDER
        <% end %>
        <%= link_to '投稿一覧', admin_posts_path %>
        <!-- 地図 -->
        <%= link_to 'コメント一覧', admin_post_comments_path %>
        <%= link_to '違反報告一覧', admin_reports_path %>
        <%= link_to 'ユーザー覧', admin_users_path %>
        <!-- 管理者掲示板 -->
        <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
      <% elsif user_signed_in? %>
        <%= link_to root_path  do %>
          <i class="fa-solid fa-dove"></i>お散歩BIRDER
        <% end %>
        <!-- About -->
        <%= link_to 'マイページ', mypage_path %>
        <%= link_to '投稿一覧', posts_path %>
        <!-- 地図 -->
        <%= link_to '新規投稿', new_post_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to root_path  do %>
          <i class="fa-solid fa-dove"></i>お散歩BIRDER
        <% end %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </header>

    <%= flash[:notice] %>
    <p>
      <%= render 'public/searches/search_form' %>
    </p>
    <%= yield %>

    <footer style="background-color: darkolivegreen">
      <p style="color: white">
        <% if admin_signed_in? %>
          <i class="fa-solid fa-user-tie"></i>お散歩BIRDER
        <% elsif user_signed_in? %>
          <i class="fa-solid fa-crow"></i>お散歩BIRDER
        <% else %>
          お散歩BIRDER
        <% end %>
      </p>
      <p style="color: white">散歩や自然観察を愛する人のためのSNS</p>
    </footer>
  </body>
</html>
