<!DOCTYPE html>
<html>
  <head>
    <title>お散歩BIRDER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダーは画面最上部に常時表示する -->
    <header style="background-color: springgreen">
      <%= link_to 'お散歩BIRDER', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
    </header>

    <%= yield %>

    <footer style="background-color: darkolivegreen">
      <p>お散歩BIRDER</p>
      <p>散歩や自然観察を愛する人のためのSNS</h4>
    </footer>
  </body>
</html>
