<!DOCTYPE html>
<html>
  <head>
    <title>お散歩BIRDER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: springgreen">
      <h3>お散歩BIRDER</h3>
    </header>

    <%= yield %>

    <footer>
      <h4>テスト</h4>
    </footer>
  </body>
</html>
